.DS_Store
*.xcuserdatad
D/*
UserUnterfaceState.xcuserstate
*.swp
*~.nib
*/cpd-output.xml

/infer-out
build/
/Build
/Index
/Plugins/Build
WeatherAppTests/
WeatherAppUITests/

*.pbxuser
*.perspective
*.perspectivev3
